<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Štatistiky</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding backGround">
    <ion-card>
      <ion-card-header>
        Aktivity v jednotlivé dni
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Počet odohraných jednotlivých aktivít
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

<!--    <ion-card>-->
<!--      <ion-card-header>-->
<!--        Line Chart-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->
<!--        <canvas #lineCanvas></canvas>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->
  </div>
</ion-content>
