<form [formGroup]="activityForm">
  <div class="search">
    <div class="item-wrapper">
        <ion-select multiple="true" formControlName="sport" placeholder="{{'FILTER.sport' | translate}}" class="opacity">
          <ion-select-option value="{{val.value}}" *ngFor="let val of sportOptions">
            {{ val.label }}
          </ion-select-option>
        </ion-select>

<!--      <ion-item>-->

<!--        <ion-label position="stacked" >Kde *</ion-label>-->

<!--        <ion-input #inputik [(ngModel)]="this.input"-->
<!--                   (ionInput)="updateSearchResults()"-->
<!--                   placeholder="Zadajte miesto"-->
<!--                   type="miesto"-->
<!--                   formControlName="sport"-->
<!--                   text-left>-->

<!--        </ion-input>-->

<!--&lt;!&ndash;        <ion-list [hidden]="autocompleteItems.length == 0">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">&ndash;&gt;-->
<!--&lt;!&ndash;            {{ item.description}}&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-list>&ndash;&gt;-->

<!--                <ion-list *ngIf="this.jeOpen">-->
<!--                  <ion-item *ngFor="let item of this.dataService.getSportsSk()" tappable (click)="selectSearchResult(item)">-->
<!--                    {{ item.label}}-->
<!--                  </ion-item>-->
<!--                </ion-list>-->
<!--      </ion-item>-->
    </div>
    <div class="icon-wrapper">
      <p *ngIf="this.user.friends !=undefined && this.user.friends.length > 0 "  style="display: inline"  (click)="presentToast('Filtrovanie podla priateľov je')">
        <ion-toggle   class="togle1" formControlName="friends" color="success"></ion-toggle>

      </p>

      <p *ngIf="this.user.friends == undefined || this.user.friends.length == 0" style="display: inline" (click)="presentToast('Nemate ziadnych priatelov')">
      <ion-toggle disabled="true"  (click)="presentToast('Filtrovanie podla priateľov je')" class="togle11" formControlName="friends" color="success"></ion-toggle>
      </p>

      <ion-icon [name]=" animationState == 'out' ? 'options' : 'arrow-dropup'" color="primary" (click)="toggleShowDiv()"></ion-icon>

      <ion-icon name="close"  color="medium" (click)="activityForm.reset()"></ion-icon>

    </div>
  </div>

  <div [@slideInOut]="animationState" >


    <div class="item-wrapper">
      <p *ngIf="this.user.friends !=undefined && this.user.friends.length > 0 "  style="display: inline"  (click)="presentToast('Filtrovanie podla priateľov je')">
        <ion-toggle   class="togle2" formControlName="friends" color="success"></ion-toggle>

      </p>

      <p *ngIf="this.user.friends == undefined || this.user.friends.length == 0" style="display: inline" (click)="presentToast('Nemate ziadnych priatelov')">
        <ion-toggle disabled="true"  (click)="presentToast('Filtrovanie podla priateľov je')" class="togle22" formControlName="friends" color="success"></ion-toggle>
      </p>

      <ion-input class="opacity" formControlName="date" (click)="openDatePicker()" placeholder="{{'FILTER.dateOf' | translate}}"></ion-input>
    </div>
    <div class="item-wrapper">
      <ion-input class="opacity" formControlName="toDate" (click)="openDatePicker2()" placeholder="{{'FILTER.dateTo' | translate}}"></ion-input>
    </div>
  </div>
</form>
