<form [formGroup]="activityForm">
  <div class="search">
    <div class="item-wrapper">
        <ion-select multiple="true" formControlName="sport" placeholder="Vyberte šport" class="opacity">
          <ion-select-option value="{{val.value}}" *ngFor="let val of sportOptions">
            {{ val.label }}
          </ion-select-option>
        </ion-select>
    </div>
    <div class="icon-wrapper">
      <ion-toggle formControlName="friends" color="success"></ion-toggle>
      <ion-icon [name]=" animationState == 'out' ? 'options' : 'arrow-dropup'" color="primary" (click)="toggleShowDiv()"></ion-icon>

      <ion-icon name="close"  color="medium" (click)="activityForm.reset()"></ion-icon>


<!--      <ion-button (click)="findFriends()" color="danger">F</ion-button>-->
    </div>
  </div>

  <div [@slideInOut]="animationState" >


    <div class="item-wrapper">
      <ion-input class="opacity" formControlName="date" (click)="openDatePicker()" placeholder="Vyberte dátum - od"></ion-input>
    </div>
    <div class="item-wrapper">
      <ion-input class="opacity" formControlName="toDate" (click)="openDatePicker2()" placeholder="Vyberte dátum - po"></ion-input>
    </div>
  </div>
</form>
