@import "../../../theme/variables";

.item-wrapper {
  width: 90%;
  margin: 5px auto;
  color: white !important;
  opacity: 1;
  border-radius: 8px;

  ion-select {
    --opacity: 1;
    opacity: 1 !important;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(to right, #f96095 0%, #fd7c5e 100%), linear-gradient(to right, #f96095 0%, #fd7c5e 100%);
    .select-placeholder {
      opacity: 1 !important;
    }
  }
  ion-input {
    padding: 8px;
    border-radius: 8px;
    color: var(--ion-color-primary);
    background: linear-gradient(to right, #22e1e3 0%, #18cacf 100%), linear-gradient(to right, #22e1e3 0%, #18cacf 100%);
  }
  ion-select::placeholder {
    opacity:1 !important;
  }
}
.primary{
  color: var(--ion-color-primary) !important;
}

.search {
  .item-wrapper {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
  }
  .icon-wrapper {
    width: 34%;
    margin-right: 5%;
    display: inline-block;
    position: relative;
    top: 10px;
    text-align: right;
  }
  ion-toggle{
    padding-right: 0px;
    padding-bottom: 6%;
  }

  ion-icon {
    font-size: 30px;
    padding-left: 5px;
  }
}
