<ion-content>
  <ion-virtual-scroll [items]="filteredList" approxItemHeight="20px">
    <ion-item-sliding *virtualItem="let activity">

      <ion-item-options side="start" style="margin-left: 10px">
        <ion-item-option>
          <ion-icon name="settings"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item lines="none" (click)="onActivityClicked(activity.id)">
        <div [class]="getCssClass(activity)">
          <div class="wrapper">
            <ion-label>
              <h3 class="shade">{{this.dataService.getSportNameByValue(activity.sport)}}</h3>
              <p class="shade" >{{activity.date | date}}, {{activity.place}}</p>
            </ion-label>
            <ion-badge color="medium" *ngIf="activity.topActivity">TOP</ion-badge>
          </div>
        </div>
      </ion-item>

      <ion-item-options side="end" style="margin-right: 10px">
        <ion-item-option>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-virtual-scroll>
</ion-content>
