ion-item {
  margin: 3px 0;
}

.item .item-content {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
}
.wrapper {
  padding: 8px;
}

.shade {
  background: rgba(255,255,255,0.6);
  padding: 8px;
  color: black;
  border-radius: 8px;
  display: inline-block;
}

.date {
  margin-left: 10px;
  font-size: 0.7em;
  position: relative;
  top: 1px;
}
.topWrap {
  top: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
h3.shade {
  font-size: 1.1em;
  font-weight: bold;
}

p.shade {
  font-size: 0.7em;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
ion-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.loadingImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-virtual-scroll {
  max-height: 70vh;
  overflow: auto;
}


//OBRAZKY
//TODO-SPORTIO: Presunut do globalnych stylov
.hockey {
  background-image: url("src/assets/sports/hockey.jpg");
}
.ping-pong {
  background-image: url("src/assets/sports/ping-pong.jpg");
}
.soccer {
  background-image: url("src/assets/sports/soccer.jpg");
}
.squash {
  background-image: url("src/assets/sports/squash.jpg");
}
.tennis {
  background-image: url("src/assets/sports/tennis.jpg");
}
