ion-item {
  margin: 3px 0;
  --ion-background-color: tranparent;

  .item-native{
    --ion-background-color: tranparent;
  }
}

.item .item-content {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
  border-radius: 7%;
}

.wrapper-header{
//daku hustu farbu tu trebadat
  background: rgba(255,255,255,0.06);
}


.wrapper {
  padding: 8px;
}
//ion-content{
//    --background: linear-gradient(to bottom, transparent, blue),
//    url("src/assets/login/top1.svg");
//    position: relative;
//    background-size: cover;
//    background-position: center;
//    background-repeat: repeat;
//    width: 100%;
//    height: 100%;
//}

.back{
  background: linear-gradient(to bottom, transparent, blue),
  url("src/assets/login/top1.svg");
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
.backEvent{
  background: linear-gradient(to bottom, transparent, purple),
  url("src/assets/login/top1.svg");
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}


.shade {
  background: rgba(255,255,255,0.6);
  padding: 8px;
  color: black;
  border-radius: 8px;
  display: inline-block;
}

.date {
  margin-left: 10px;
  font-size: 0.7em;
  position: relative;
  top: 1px;
}
.topWrap {
  top: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
h3.shade {
  font-size: 1.1em;
  font-weight: bold;
}

p.shade {
  font-size: 0.7em;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
ion-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

.loadingImage{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 0.5s infinite alternate;
}

ion-virtual-scroll {
  max-height: 70vh;
  overflow: auto;
}
ion-segment-button{
  color: white;

}

.segment-button-checked{
  //border-bottom: 2px solid white; //som sad
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
}



//OBRAZKY
//TODO-SPORTIO: Presunut do globalnych stylov
.hockey {
  background-image: url("src/assets/sports/hockey.jpg");
}
.ping-pong {
  background-image: url("src/assets/sports/ping-pong.jpg");
}
.soccer {
  background-image: url("src/assets/sports/soccer.jpg");
}
.squash {
  background-image: url("src/assets/sports/squash.jpg");
}
.tennis {
  background-image: url("src/assets/sports/tennis.jpg");
}
.baseball{
  background-image: url("src/assets/sports/baseball.jpg");
}
.basketball{
  background-image: url("src/assets/sports/basketball.jpg");
}
.cycling{
  background-image: url("src/assets/sports/cycling.jpg");
}
.fighting{
  background-image: url("src/assets/sports/fighting.jpg");
}
.floorball{
  background-image: url("src/assets/sports/floorball.jpg");
}
.football{
  background-image: url("src/assets/sports/football.jpg");
}
.frisbee{
  background-image: url("src/assets/sports/frisbee.jpg");
}
.kalceto{
  background-image: url("src/assets/sports/kalceto.jpg");
}
.motoristic{
  background-image: url("src/assets/sports/motoristic.jpg");
}
.volejbal{
  background-image: url("src/assets/sports/volejbal.jpg");
}
.water{
  background-image: url("src/assets/sports/water.jpg");
}
.winter{
  background-image: url("src/assets/sports/winter.jpg");
}

