<ion-header *ngIf="fromMap">
    <ion-toolbar>
        <ion-title>Aktivity z mapy</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-filter (onSearchClicked)="onSearchClicked($event)"></app-filter>
    <ion-segment [(ngModel)]="segmentValue" >
        <ion-segment-button #others value="others" checked>Všetky</ion-segment-button>
        <ion-segment-button value="mine">Moje</ion-segment-button>
        <ion-segment-button value="registered">Prihlásený</ion-segment-button>
    </ion-segment>
    <ion-virtual-scroll [items]="filteredList | filter: filterCriteria :segmentValue" approxItemHeight="20px">

        <ion-item-sliding *virtualItem="let activity">

            <ion-item lines="none" (click)="onActivityClicked(activity.id)">
                <div [class]="getCssClass(activity)">
                    <div class="wrapper">
                        <ion-label>
                            <h3 class="shade">{{this.dataService.getSportNameByValue(activity.sport)}}</h3>
                            <p class="shade" >{{activity.date | date}}, {{activity.place}}</p>
                        </ion-label>
                        <ion-badge color="medium" *ngIf="activity.topActivity">TOP</ion-badge>
                    </div>
                </div>
            </ion-item>

        </ion-item-sliding>
    </ion-virtual-scroll>
</ion-content>
