<ion-header *ngIf="fromMap">
    <ion-toolbar>
        <ion-title *ngIf="!fromEvent">Aktivity z mapy</ion-title>
        <ion-title *ngIf="fromEvent">Udalosti z mapy</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngClass]="fromEvent ? 'backEvent' : 'back'">
        <div class="wrapper-header">

    <app-filter (onSearchClicked)="onSearchClicked($event)"></app-filter>
    <ion-segment [(ngModel)]="segmentValue" >
        <ion-segment-button id="vsetky" #others value="others" checked>{{'SEGMENTS.all' | translate}}</ion-segment-button>
        <ion-segment-button id="moje" #mine value="mine">{{'SEGMENTS.mine' | translate}}</ion-segment-button>
        <ion-segment-button  id="prihlaseny" #assigned value="registered">{{'SEGMENTS.assigned' | translate}}</ion-segment-button>
    </ion-segment>
    </div>
    <div class="wrapper">
        <img *ngIf="!fromMap && !finishDownloading" id="load" class="loadingImage"  src='assets/logoSportShare/logo%20SportShare/logo/biele/2-01.png' height="150">

        <ion-virtual-scroll id="myVirtual"  [items]="filteredList | filter: filterCriteria :segmentValue" approxItemHeight="120px">
                <ion-item disabled="{{!this.internet}}"  *virtualItem="let activity" lines="none" (click)="onActivityClicked(activity.id)">
                    <div [class]="getCssClass(activity)">
                        <div class="wrapper">
                            <ion-label>
                                <div class="topWrap">
                                    <h3 class="shade">{{this.dataService.getSportNameByValue(activity.sport)}}</h3>
                                    <span class="shade date">{{activity.date | date}}</span>
                                </div>
                                <p class="shade" >{{activity.place}}</p>
                            </ion-label>
                            <ion-badge color="medium" *ngIf="activity.topActivity">TOP</ion-badge>
                        </div>
                    </div>
                </ion-item>
        </ion-virtual-scroll>
    </div>
    </div>

</ion-content>
