<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ponuky športov</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()"><ion-icon name="add"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-activity-list></app-activity-list>




    <!--  <ion-toolbar color="primary">-->
    <!--    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">-->

    <!--    </ion-searchbar>-->
    <!--  </ion-toolbar>-->
    <!--  <ion-list [hidden]="autocompleteItems.length == 0">-->
    <!--    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">-->
    <!--      {{ item.description}}-->

    <!--&lt;!&ndash;      tu treba priradit item.description do autocomplete.input&ndash;&gt;-->


    <!--    </ion-item>-->
    <!--  </ion-list>-->

</ion-content>
