<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>{{'HEADERS.tab1' | translate}} </ion-title>

<!--        TODO: toto sa prerobi ked budeme mat auth guarda-->
        <ion-buttons slot="end" *ngIf="this.dataService.logged != false">
            <ion-img routerLink="/profile" *ngIf="this.dataService.logged && !!this.dataService.getSignInUser()" class="profile-image" [src]="this.dataService.getSignInUser().user.photoURL"> </ion-img>
            <ion-button (click)="presentModal()"><ion-icon name="add"></ion-icon></ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <app-activity-list [filteredList]="activityList"  ></app-activity-list>


</ion-content>
