<ion-header>
  <ion-toolbar>
    <ion-title>Profil hráča {{this.user.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="wrapper">

      <div class="card">
        <div class="header">
          <div class="avatar">
            <ion-icon *ngIf="!checkFriends()" (click)="addFriend()" color="success" size="large" class="addPlayer" name="person-add"></ion-icon>
            <ion-icon *ngIf="checkFriends()" (click)="deleteFriend()" color="danger" size="large" class="addPlayer" name="person">
            </ion-icon>
            <ion-icon *ngIf="checkFriends()" (click)="deleteFriend()" class="addPlayer minus" color="danger" name="remove"></ion-icon>

            <ion-avatar>
              <ion-img *ngIf="this.user.photoUrl != null"  [src]="userPhoto"> </ion-img>
              <img class="avatar2" *ngIf="this.user.photoUrl == null" src="assets/icon/avatar.svg">
            </ion-avatar>
          </div>
        </div>
      </div>


      <p class="playerName">
        {{this.user.name}}
      </p>
      <p *ngIf="allRatings!= undefined" class="rat">
        {{'PROFILE.ratings' | translate}}
      </p>

      <p *ngIf="allRatings!= undefined" class="playerName">
        {{this.allRatings.length}}
      </p>

<!--jednotlive ratingy-->
  <ion-item *ngIf="ratingSport1 != 0">
    <p>Tenis</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport1)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport1.length}}</p>
  </ion-item>


  <ion-item *ngIf="ratingSport2!= 0">
    <p>Squash</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport2)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport2.length}}</p>
  </ion-item>

  <ion-item *ngIf="ratingSport3 != 0">
    <p>Ping pong</p>
    <ionic4-star-rating #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport3)}}"
                        fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport3.length}}</p>
  </ion-item>
  <ion-item *ngIf="ratingSport4 != 0">

    <p>Futbal</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport4)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport4.length}}</p>
  </ion-item>
  <ion-item *ngIf="ratingSport5 != 0">
    <p>Florbal</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport5)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport5.length}}</p>
  </ion-item>

  <ion-item *ngIf="ratingSport6 != 0">
    <p>Hokej</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport6)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport6.length}}</p>
  </ion-item>
  <ion-item *ngIf="ratingSport7 != 0">
    <p>Volejbal</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport7)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport7.length}}</p>
  </ion-item>

  <ion-item *ngIf="ratingSport8 != 0">
    <p>Basketbal</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport8)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport8.length}}</p>
  </ion-item>

  <ion-item *ngIf="ratingSport9 != 0">
    <p>Nohejbal</p>
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport9)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ratingSport9.length}}</p>
  </ion-item>
  <ion-item *ngIf="ratingSport10 != 0">
    <ionic4-star-rating  #rating
                         activeIcon = "ios-star"
                         defaultIcon = "ios-star-outline"
                         activeColor = "#FFD700"
                         defaultColor = "#ccccff"
                         readonly="true"
                         rating="{{countAverageRating(ratingSport10)}}"
                         fontSize = "30px"
    >
    </ionic4-star-rating>
    <p slot="end">{{ ratingSport10.length}}</p>
  </ion-item>
  </div>
</ion-content>
