.card {
  margin: 0 auto;
}

.header {
  height: 150px;
}

.avatar {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}

ion-img {
  display: block;
  border-radius: 50%;
  position: absolute;
  border: 8px solid #00008b;
  background-color: #fff;
}

.playerName{
  font-size: 24px;
  font-weight: 600;
  color: #303940;
  text-align: center;
}

ion-item p{
  font-size: 18px;
  font-weight: 500;
}

ionic4-star-rating{
  margin-left: auto;
}
.ratingscount{
  text-align: end;
  font-size: 24px;
}
.rat{
  font-size: 20px;
  font-weight: 500;
  color: #303940;
  text-align: center;
}

.right{
  position: absolute;
  margin-top: 10px;
  right: 16px;
}

ion-item p{
  font-size: 19px;
  font-weight: 600;
  color: #303940;
  text-align: center;
  margin-right: 20px;

}


