<ion-content class="content" padding>
  <h1 class="center">Login</h1>
<!--  <ion-input placeholder="User name"></ion-input>-->
<!--  <ion-input placeholder="Password"></ion-input>-->
  <div class="center">
    <ion-button color="dark" (click)="onSubmitClick()">Prihlásiť sa ako hosť</ion-button>
  </div>
  <p class="center"><small>Or</small></p>
  <div class="divider"></div>
  <div class="center">
    <ion-button class="socialIcon" (click)="facebookLogin()" color="facebook"><ion-icon name="logo-facebook" ></ion-icon></ion-button>
  </div>
</ion-content>
