<ion-content class="content" padding>
  <h1 class="center">Login</h1>
  <ion-input placeholder="User name"></ion-input>
  <ion-input placeholder="Password"></ion-input>
  <div class="center">
    <ion-button color="dark" (click)="onSubmitClick()">Submit</ion-button>
  </div>
  <p class="center"><small>Or</small></p>
  <div class="divider"></div>
  <div class="center">
    <ion-button class="socialIcon" color="facebook"><ion-icon name="logo-facebook" ></ion-icon></ion-button>
    <ion-button class="socialIcon" color="google"><ion-icon name="logo-google" ></ion-icon></ion-button>
  </div>
</ion-content>
