<ion-header>
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tabs/tab1">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="facebook-bg">
  <div *ngIf="this.dataService.logged && this.dataService.user">
    <ion-row>
      <ion-col class="title">
        {{this.user.additionalUserInfo.profile.first_name}}

      </ion-col>
    </ion-row>
    <ion-img  [src]="userPhoto"> </ion-img>
    <ionic4-star-rating #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{this.dataService.getUserFromDatabase().behavior/this.dataService.getUserFromDatabase().behaviorCount}}"
                        fontSize = "25px"
                        >
    </ionic4-star-rating>

    <ion-button (click)="rateUsers()" expand="block" fill="outline">
      {{ "Pocet prietelov: " + this.dataService.getUserFromDatabase().friends.length}}
    </ion-button>

  </div>

  <div class="allLogin" *ngIf="this.dataService.logged == false">
    <p>Na zobrazenie profilu sa musíte prihlásiť</p>
    <ion-buttons class="button-login" (click)="login()" slot="end">
      Login
    </ion-buttons>
  </div>
</ion-content>
<ion-footer *ngIf="this.dataService.logged != false" (click)="logout()">
  <ion-toolbar color="danger">
    <ion-title>
      Logout
    </ion-title>
  </ion-toolbar>
</ion-footer>
