<ion-header>
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="facebook-bg">
  <div *ngIf="this.dataService.logged != false">
    <ion-row>
      <ion-col *ngIf="this.dataService.logged !=false" class="title">
        {{this.user.additionalUserInfo.profile.first_name}}
        <p>Average rating is: {{this.userFromAnotherTable.behavior/this.userFromAnotherTable.behaviorCount}} with {{this.userFromAnotherTable.behaviorCount}} ratings. </p>
        <ionic4-star-rating #rating
                            activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#FFD700"
                            defaultColor = "#ccccff"
                            readonly="false"
                            rating="0"
                            fontSize = "25px"
                            (ratingChanged)="logRatingChange(user.id, $event)">

      </ion-col>
    </ion-row>
    <ion-img class="profile-image" [src]="this.user.user.photoURL"></ion-img>
  </div>

  <div class="allLogin" *ngIf="this.dataService.logged == false">
    <p>Na zobrazenie profilu sa musíte prihlásiť</p>
    <ion-buttons class="button-login" (click)="login()" slot="end">
      Login
    </ion-buttons>
  </div>
</ion-content>
<ion-footer *ngIf="this.dataService.logged != false" (click)="logout()">
  <ion-toolbar color="danger">
    <ion-title>
      Logout
    </ion-title>
  </ion-toolbar>
</ion-footer>
