<ion-header>
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/tabs/tab1">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="facebook-bg">
    <div class="background">

<!--  *ngIf="this.dataService.logged && this.dataService.user"-->
  <div>

      <ion-button *ngIf="this.dataService.getUserFromDatabase().friends!= undefined" style="--background:#00008b" class="friends" (click)="friends()" expand="block" fill="solid">
          {{ "Priatelia: " + this.dataService.getUserFromDatabase().friends.length}}
      </ion-button>

      <div class="card">
          <div class="header">
              <div class="avatar">
                  <ion-avatar>
                      <ion-img *ngIf="this.user.photoUrl != null"  [src]="userPhoto"> </ion-img>
                      <img class="avatar2" *ngIf="this.userFromTable.photoUrl == null" src="assets/icon/avatar.svg">
                  </ion-avatar>
              </div>
          </div>
      </div>

<p class="playerName">
  {{this.user.name}}
</p>


      <p class="rating" *ngIf="this.ratings!= undefined">Počet hodnotení</p>

      <p *ngIf="this.ratings != undefined" class="playerName">
          {{this.ratings.length}}
      </p>

    <ion-item class="pro" *ngIf="ratingSport1 != 0">
      <p>Tenis</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport1)}}"
                        fontSize = "25px"
                        >
    </ionic4-star-rating>
        <p slot="end">{{ratingSport1.length}}</p>
    </ion-item>


    <ion-item *ngIf="ratingSport2!= 0">
      <p>Squash</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport2)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
        <p slot="end">{{ratingSport2.length}}</p>
    </ion-item>

    <ion-item *ngIf="ratingSport3 != 0">
      <p>Ping pong</p>
    <ionic4-star-rating #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport3)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
        <p slot="end">{{ratingSport3.length}}</p>
    </ion-item>
    <ion-item *ngIf="ratingSport4 != 0">
      <p>Futbal</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport4)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport5 != 0">
      <p>Florbal</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport5)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport6 != 0">
      <p>Hokej</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport6)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport7 != 0">
      <p>Volejbal</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport7)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport8 != 0">
      <p>Basketbal</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport8)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport9 != 0">
      <p>Nohejbal</p>
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport9)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>
    <ion-item *ngIf="ratingSport10 != 0">
    <ionic4-star-rating  #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{countAverageRating(ratingSport10)}}"
                        fontSize = "25px"
    >
    </ionic4-star-rating>
    </ion-item>



  </div>

    </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="danger">
    <ion-title>
      Logout
    </ion-title>
  </ion-toolbar>
</ion-footer>
