ion-title {
  padding: 0;
}
.profile-image {
  width: 20px;
  margin: 20px;
  padding: 20px;
}
.picture{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.button-login {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
.allLogin{
  padding-top: 50%;
  text-align: center;

}


ion-title {
  padding-left: 20px;
}
