// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #191919;
  --ion-color-primary-rgb: 25,25,25;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #161616;
  --ion-color-primary-tint: #303030;

  /** secondary **/
  --ion-color-secondary: #12b562;
  --ion-color-secondary-rgb: 18,181,98;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #109f56;
  --ion-color-secondary-tint: #2abc72;

  /** tertiary **/
  --ion-color-tertiary: #242a31;
  --ion-color-tertiary-rgb: 36,42,49;
  --ion-color-tertiary-contrast: #858d9b;
  --ion-color-tertiary-contrast-rgb: 133,141,155;
  --ion-color-tertiary-shade: #20252b;
  --ion-color-tertiary-tint: #3a3f46;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** medium **/
  --ion-color-medium: #e91e63;
  --ion-color-medium-rgb: 233,30,99;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #cd1a57;
  --ion-color-medium-tint: #eb3573;

  /** light **/
  --ion-color-light: #e8e8e8;
  --ion-color-light-rgb: 232,232,232;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cccccc;
  --ion-color-light-tint: #eaeaea;

  --ion-color-google: #DB4437;
  --ion-color-google-rgb: 219,68,55;
  --ion-color-google-contrast: #ffffff;
  --ion-color-google-contrast-rgb: 255,255,255;
  --ion-color-google-shade: #c13c30;
  --ion-color-google-tint: #df574b;

  --ion-color-facebook: #3C5A99;
  --ion-color-facebook-rgb: 60,90,153;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #354f87;
  --ion-color-facebook-tint: #506ba3;

  /** dark **/
  --ion-color-dark: #191919;
  --ion-color-dark-rgb: 25,25,25;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #161616;
  --ion-color-dark-tint: #303030;
}

ion-content{
  --ion-background-color: var(--ion-color-light);
}
ion-toolbar {
  --ion-background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}
ion-label, ion-icon {
  color: var(--ion-color-secondary);
}
ion-tabs {
  --ion-background-color: var(--ion-color-primary);
}

.ion-color-google {
  --ion-color-base: var(--ion-color-google) !important;
  --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
  --ion-color-contrast: var(--ion-color-google-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-google-shade) !important;
  --ion-color-tint: var(--ion-color-google-tint) !important;
  }

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebook-shade) !important;
  --ion-color-tint: var(--ion-color-facebook-tint) !important;
  }
.ion-color-dark {
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebook-shade) !important;
  --ion-color-tint: var(--ion-color-facebook-tint) !important;
  }

