<ion-header>
    <ion-toolbar>
        <ion-title>{{'NEW.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngClass]="this.activityForm.get('what').value == 'Udalost' ? 'backEvent' : 'background'">

    <form [formGroup]="activityForm">
        <div >
            <ion-item>
                <ion-label position="stacked" >{{'NEW.aktivita' | translate}}</ion-label>
                <ion-select formControlName="what" placeholder="{{'NEW.aktivitaSpec' | translate}}">
                    <ion-select-option value="{{val}}" *ngFor="let val of aktivitaOrEvent">
                        {{ val }}
                    </ion-select-option>
                </ion-select>

            </ion-item>

            <ion-item>
                <ion-label position="stacked" >{{'NEW.sport' | translate}} *</ion-label>
<!--                <ion-select formControlName="sport" placeholder="Vyberte šport">-->
<!--                    <ion-select-option value="{{val.value}}" *ngFor="let val of sportOptions">-->
<!--                        {{ val.label }}-->
<!--                    </ion-select-option>-->
                <ionic-selectable modalCssClass="ionic-selectable-documentation-configuration"
                        formControlName="sport"
                        placeholder="{{'NEW.sportSpec' | translate}}"
                        [(ngModel)]="sport"
                        [items]="sportOptions"
                        itemValueField="label"
                        itemTextField="label"
                        [canSearch]="true"
                        (onChange)="portChange($event)">

                    <ng-template ionicSelectableSearchFailTemplate>
                        <div padding>
                            Nebol nájdený šport
                        </div>
                    </ng-template>

                    <ng-template ionicSelectableCloseButtonTemplate>
                        <ion-icon name="close"></ion-icon>
                    </ng-template>
                </ionic-selectable>
<!--                </ion-select>-->

            </ion-item>
        </div>


        <ion-item>
            <ion-label position="stacked" >{{'NEW.people' | translate}} *</ion-label>
            <ion-input
                    type="number"
                    text-left
                    formControlName="peopleCount"
                    placeholder="{{'NEW.peopleSpec' | translate}}"
            ></ion-input>
        </ion-item>

        <ion-item>

                <ion-label position="stacked" >{{'NEW.place' | translate}} *</ion-label>

                <ion-input [(ngModel)]="autocomplete.input"
                           (ionInput)="updateSearchResults()"
                               placeholder="{{'NEW.placeSpec' | translate}}"
                               type="miesto"
                               formControlName="place"
                               text-left>

                </ion-input>

            <ion-list [hidden]="autocompleteItems.length == 0">
                <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                    {{ item.description}}
                </ion-item>
            </ion-list>

        </ion-item>
        <ion-item>
            <ion-label position="stacked" >{{'NEW.date' | translate}} *</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate" [(ngModel)]="startDate" placeholder="{{'NEW.dateSpec' | translate}}" formControlName="date"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{'NEW.time' | translate}} *</ion-label>
            <ion-datetime displayFormat="HH:mm" placeholder="{{'NEW.timeSpec' | translate}}" formControlName="time"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label position="stacked" >{{'NEW.top' | translate}}</ion-label>
            <ion-toggle
                    formControlName="topActivity"
                    text-left
            ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" >{{'NEW.comment' | translate}}</ion-label>
            <ion-input
                    type="koemnt"
                    text-left
                    formControlName="comment"
                    placeholder="{{'NEW.commentSpec' | translate}}"
            ></ion-input>
        </ion-item>
    </form>
    <ion-button color="success" class="ion-margin-top" (click)="onFormSubmit()" expand="block"  disabled="{{!activityForm.valid}}">
        {{'NEW.add' | translate}}
    </ion-button>
    </div>
</ion-content>
