<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="!fromEvent">{{'HEADERS.tab1' | translate}}</ion-title>
        <ion-title *ngIf="fromEvent">{{'HEADERS.tab3' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <!--background podla aktivity/eventu    -->
    <div [ngClass]="fromEvent ? 'backEvent' : 'background'"></div>

    <div id="map2" class="map2"></div>


    <div style="position: absolute; left: 50%">
<!-- aby si mohol kliknut na tvorcu a na seba nie,ked tak mozeme upravit ze zo seba ta to hodi na profil svoj       -->
            <ion-chip *ngIf="this.userFromTable != undefined && selectedActivity.createdBy != this.dataService.getSignInUser().id" (click)="visitCreatorProfile()" class="ion-margin-start creatorPhoto">
                <ion-avatar>
                    <img *ngIf="this.userFromTable.photoUrl != null" [src]="this.userFromTable.photoUrl" >
                    <img *ngIf="this.userFromTable.photoUrl == null"  src="assets/icon/avatar.svg" >
                </ion-avatar>
                <ion-label>{{this.userFromTable.name}}</ion-label>
            </ion-chip>

            <ion-chip *ngIf="this.userFromTable != undefined && selectedActivity.createdBy == this.dataService.getSignInUser().id" class="ion-margin-start creatorPhoto">
                <ion-avatar>
                    <img *ngIf="this.userFromTable.photoUrl != null" [src]="this.userFromTable.photoUrl" >
                    <img *ngIf="this.userFromTable.photoUrl == null"  src="assets/icon/avatar.svg" >
                </ion-avatar>
                <ion-label>{{this.userFromTable.name}}</ion-label>
            </ion-chip>

        <ion-chip *ngIf="this.userFromTable == undefined" class="ion-margin-start creatorPhoto">
            <ion-avatar>
                <img src="assets/icon/avatar.svg" >
            </ion-avatar>
            <ion-label>Používateľ nenájdený</ion-label>
        </ion-chip>
    </div>


<!--share buttony-->
        <ul class="share">
            <li>
                <ion-img class="ins" src='assets/icon/instagram-128.png' (click)="instagramShare()"></ion-img>
            </li>

            <li>
                <ion-img class="ins" src='assets/icon/facebook-128.png' (click)="facebookShare()"></ion-img>
            </li>
        </ul>

        <div class="center first">
        <h1 class="place shade sport">{{this.dataService.getSportNameByValue(this.selectedActivity.sport)}}</h1>
        </div>

        <div class="center">
            <p class="place shade">{{this.selectedActivity.place}}</p>
        </div>

        <div class="center time" >
            <time class="date-as-calendar position-em size1_25x">
                <span class="weekday">{{this.day}}</span>
                <span class="day">{{this.date}}</span>
                <span class="month">{{this.month}}</span>
                <span class="year">{{this.year}}</span>
            </time>
            <p class="hours">{{this.hours}} : {{this.minutes}}</p>
        </div>

        <div *ngIf="this.selectedActivity.comment.length > 0" class="center">
            <p *ngIf="this.selectedActivity.comment.length > 0" class="place shade">{{this.selectedActivity.comment}}</p>
        </div>


        <ion-list style="text-align: center">
            <ion-button disabled="{{!this.internet}}" color="success" *ngIf="!reserved && !overdue" (click)="onFormSubmit()" fill="solid">
                {{(bookable ? 'DETAIL.register' : 'DETAIL.update') | translate}}
            </ion-button>


            <ion-button disabled="{{!this.internet}}" color="danger" *ngIf="!bookable && !overdue"
                        (click)="presentAlertConfirm('Vymazať','Naozaj chcete vymazať aktivitu?','Vymazať', 1,null)" fill="solid">
                        {{(reserved ? 'DETAIL.unregister' : 'DETAIL.delete') | translate}}
            </ion-button>

            <ion-button disabled="{{!this.internet}}" color="success" *ngIf="overdue"  (click)="rateUsers()" expand="block" fill="solid">
                {{'DETAIL.rate' | translate}}
            </ion-button>

            <ion-button disabled="{{!this.internet}}" *ngIf="!overdue"  (click)="rateUsers()"  fill="solid">
                {{ ('DETAIL.users' | translate)+ ": " + this.selectedActivity.bookedBy.length + ('DETAIL.of' | translate) + this.selectedActivity.peopleCount}}
            </ion-button>

            <ion-button disabled="{{!this.internet}}" color="danger" *ngIf="bookable && reserved && !overdue"
                        (click)="presentAlertConfirm('Odhlásenie!','Naozaj sa chcete odhlásiť z aktivity?', 'Odhlásiť',2,null)"
                        fill="solid">
                {{(reserved ? 'DETAIL.unregister' : 'DETAIL.delete') | translate}}
            </ion-button>

        </ion-list>

        <ion-list class="comments">
            <ion-item disabled="{{!this.internet}}" *ngFor="let item of this.comments">

                    <ion-chip>
                        <ion-avatar>
                            <!--                        pocla toho ci ma typek fotku abo ne-->
                            <img *ngIf="item.photoUrl != null" [src]="item.photoUrl" >
                            <img *ngIf="item.photoUrl == null"  src="assets/icon/avatar.svg" >
                        </ion-avatar>
                        <ion-label color="light">{{item.userName}}</ion-label>
                    </ion-chip>


                <p>{{item.comment}}</p>

                    <ion-icon slot="end" class="delete"  name="close"  color="medium" *ngIf="item.userId == this.dataService.getSignInUser().id" (click)="deleteComment(item.id)"></ion-icon>

            </ion-item>
        </ion-list>
    <div class="addCommentWrapper">
        <ion-button fill="clear" class="addComment" disabled="{{!this.internet}}" (click)="addComment()">

            <ion-icon size="large" name="chatboxes"></ion-icon>
        </ion-button>
    </div>


</ion-content>
