<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Udalosti
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionChange)="onSearchUpdate($event)" animated></ion-searchbar>
  <ion-segment [(ngModel)]="segment" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button #others value="others" checked>Všetky</ion-segment-button>
    <ion-segment-button value="mine">Moje</ion-segment-button>
    <ion-segment-button value="registered">Prihlásený</ion-segment-button>

  </ion-segment>

  <app-event-list [filteredList]="filteredList" ></app-event-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="flame" color="medium" (click)="onFabClicked($event)"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
