ion-title {
  padding-left: 0;
}
ion-segment {
  margin-bottom: 8px;
}
.invisibleInput{
  background: #55acee;
  height: 0px;
  width: 0px;
  display: none;

}
.profile-image{
  width: 40px;
  border-radius: 50% !important;
  overflow: hidden;
}
.login{
  text-decoration: underline;
}
