ion-title {
  padding: 0;
}

.background{
  background: linear-gradient(to bottom, transparent, blue),
  url("src/assets/login/top1.svg");
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
