<ion-header>
  <ion-toolbar>
    <ion-title>Nová udalost</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="activityForm">
    <div >
      <ion-item>
        <ion-label position="stacked" >Výber športu *</ion-label>
        <ion-select formControlName="sport" placeholder="Vyberte šport">
          <ion-select-option value="{{val.value}}" *ngFor="let val of sportOptions">
            {{ val.label }}
          </ion-select-option>
        </ion-select>

      </ion-item>
    </div>

<!--    <ion-item>-->
<!--      <ion-label position="stacked" >Počet ľudí? *</ion-label>-->
<!--      <ion-input-->
<!--              type="pocet"-->
<!--              text-left-->
<!--              formControlName="peopleCount"-->
<!--              placeholder="Zadajte počet osôb"-->
<!--      ></ion-input>-->
<!--    </ion-item>-->

    <ion-item>

      <ion-label position="stacked" >Kde *</ion-label>

      <ion-input [(ngModel)]="autocomplete.input"
                 (ionInput)="updateSearchResults()"
                 placeholder="Zadajte miesto"
                 type="miesto"
                 formControlName="place"
                 text-left>

      </ion-input>
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description}}

          <!--      tu treba priradit item.description do autocomplete.input-->


        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Kedy? *</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate" [(ngModel)]="startDate" placeholder="Zadajte dátum" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Čas *</ion-label>
      <ion-datetime displayFormat="HH:mm" placeholder="Zadajte čas" formControlName="time"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" >Topovať aktivitu?</ion-label>
      <ion-toggle
              formControlName="topActivity"
              text-left
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Komentár</ion-label>
      <ion-input
              type="koemnt"
              text-left
              formControlName="comment"
              placeholder="Zadajte komentár..."
      ></ion-input>
    </ion-item>
  </form>
  <ion-button class="ion-margin-top" (click)="onFormSubmit()" expand="block" fill="outline" disabled="{{!activityForm.valid}}">
    Pridaj aktivitu
  </ion-button>
</ion-content>
