<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
<!--  <ion-item>-->
<!--    <ion-label floating>Zadaj adresu:</ion-label>-->
<!--    <ion-input id="zadajAdresu" type="text"></ion-input>-->
<!--  </ion-item>-->
  <div #mapElement class="map"></div>



</ion-content>
