.map {
  height: 100%;
}
ion-title {
  padding-left: 0;
}

.btn-primary2{
  background-color: #6D0DAF;
}
.btn-primary{
  background-color: #FF0000;
}

.profile-image{
  width: 40px;
  border-radius: 50% !important;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}