<!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>-->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        {{'HEADERS.tab2' | translate}}
    </ion-title>
      <ion-buttons slot="end">
          <ion-img routerLink="/profile" *ngIf="this.dataService.getUserFromDatabase().photoUrl != null" class="profile-image" [src]="this.dataService.getSignInUser().photoUrl"> </ion-img>
          <img routerLink="/profile" *ngIf="this.dataService.getUserFromDatabase().photoUrl == null" class="profile-image" src="assets/icon/avatar.svg">          <ion-button routerLink="/profile" class="hidden"><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="map" class="map">
        <div id="popup"></div>
    </div>

    <button (click)="prejdiDoTab1()" id="testButton" class="btn btn-primary" style="display: none">Aktivity</button>
    <button (click)="prejdiDoTab3()" id="testButton3" class="btn btn-primary2" style="display: none">Udalosti</button>
</ion-content>
