/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-select {
  --opacity: 1 !important;
  opacity: 1 !important;
}

ion-searchbar{
  --background: white;
}

.opacity {
  opacity: 1 !important;
  font-family: 'Montserrat', sans-serif;
}

*,*:before, *:after, ion-menu-toggle, ion-label {
  font-family: 'Montserrat', sans-serif !important;
}

.secondary{
  color: red !important;
}

.add{
  color: green !important;
}

//searchbar v aktivity new
.ionic-selectable-documentation-configuration { .modal-wrapper { ionic-selectable-modal { ion-header { ion-toolbar { ion-buttons {position: absolute; right: 10px} } } ion-searchbar { --background: black; .searchbar-input { background: white; color: black; box-shadow: unset; } .searchbar-search-icon { color: black; } .searchbar-clear-button { color: black; } } ion-footer { background: var(--ion-color-dark); ion-toolbar { --background: var(--ion-color-dark); ion-button { display: inline-block !important; --background: var(--ion-color-warning); } } } } } }
