ion-item, ion-list{
  --ion-background-color: tranparent;
}


.button-login {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
.allLogin{
  padding-top: 50%;
  text-align: center;

}
.loadingImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.close{
  font-size: 45px;
}

.creator{
  margin: auto;
  padding-top: 10px;
  margin-bottom: 9px;

}


.creator-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.noone{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.rated{
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}
.wrapper{
  background: linear-gradient(to bottom, transparent, blue),
  url("src/assets/login/top1.svg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
