<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="overdue && !profile">Ohodnoť spoluhráčov</ion-title>
    <ion-title *ngIf="!overdue && !profile">Prihlasení používatelia</ion-title>
    <ion-title *ngIf="profile">Priatelia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!profile">
  <div class="wrapper">
<!--  creator-->
    <ion-avatar (click)="visitProfile(this.creator)" class="creator" *ngIf="creator != undefined">
      <img *ngIf="this.creator.photoUrl != null" src="{{this.creator.photoUrl}}">
      <img *ngIf="this.creator.photoUrl == null" src="assets/icon/avatar.svg" >

        <ion-chip class="creator-button" (click)="visitProfile(this.creator)">
            <ion-label *ngIf="creator != undefined">{{this.creator.name}}</ion-label>
        </ion-chip>
    </ion-avatar>

    <p class="centerRat">
    <ionic4-star-rating class="ratingCenter" *ngIf="this.creator !=undefined && !this.overdue" #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#FFD700"
                        defaultColor = "#ccccff"
                        readonly="true"
                        rating="{{this.creator.behavior}}"
                        fontSize = "30px" >

    </ionic4-star-rating>

        <ionic4-star-rating class="ratingCenter" *ngIf="this.overdue && this.loggedUser.id != this.createdBy && this.hodnotenyCreator == false" #rating
                            activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#FFD700"
                            defaultColor = "#ccccff"
                            readonly="false"
                            rating="0"
                            fontSize = "30px"
                            (ratingChanged)="logRatingChange(this.creator.id, $event)">
        </ionic4-star-rating>

        <ionic4-star-rating class="ratingCenter" *ngIf="this.overdue && this.loggedUser.id != this.createdBy && this.hodnotenyCreator == true" #rating
                            activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#FFD700"
                            defaultColor = "#ccccff"
                            readonly="true"
                            rating="{{this.creator.behavior}}"
                            fontSize = "30px"
                            >
        </ionic4-star-rating>
    </p>


    <p *ngIf="overdue && usersId.length == 0" class="noone">Nikto nebol prihlasený.</p>
    <p *ngIf="usersId.length == 0 && !this.overdue" class="noone">Nikto nie je prihlasený.</p>

  <!--loading gif-->
  <img class="loadingImage" *ngIf="this.finishDwonloading" src='assets/logoSportShare/logo%20SportShare/logo/biele/2-01.png' height="150">


  <ion-list padding >
      <ion-label *ngFor="let user of this.usersFromDatabase">

      <ion-item text-wrap >

<!--      <ion-avatar (click)="visitProfile(user)" ><img src="{{user.photoUrl}}"></ion-avatar>-->
<!--      <ion-button *ngIf="this.dataService.getSignInUser().id == user.id" color="success">{{user.name}}</ion-button>-->
<!--      <ion-button *ngIf="this.dataService.getSignInUser().id != user.id" (click)="visitProfile(user)" color="danger">{{user.name}}</ion-button>-->
      <ion-chip *ngIf="this.dataService.getSignInUser().id != user.id" (click)="visitProfile(user)">
        <ion-avatar>
          <img *ngIf="user.photoUrl != null" [src]="user.photoUrl" >
          <img *ngIf="user.photoUrl == null" src="assets/icon/avatar.svg" >
        </ion-avatar>
        <ion-label color="light">{{user.name}}</ion-label>
      </ion-chip>

      <ion-chip *ngIf="this.dataService.getSignInUser().id == user.id">
        <ion-avatar>
          <img *ngIf="user.photoUrl != null" [src]="user.photoUrl" >
          <img *ngIf="user.photoUrl == null" src="assets/icon/avatar.svg" >
        </ion-avatar>
        <ion-label color="success">{{user.name}}</ion-label>
      </ion-chip>

        <div class="ratingWrapper">

      <ionic4-star-rating *ngIf="!this.overdue" #rating
                                                 activeIcon = "ios-star"
                                                 defaultIcon = "ios-star-outline"
                                                 activeColor = "#FFD700"
                                                 defaultColor = "#ccccff"
                                                 readonly="true"
                                                rating="{{this.user.behavior}}"
                                                 fontSize = "30px" >

    </ionic4-star-rating>
      <ionic4-star-rating *ngIf="this.overdue && this.loggedUser.id != user.id" #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#FFD700"
                          defaultColor = "#ccccff"
                          readonly="false"
                          rating="0"
                          fontSize = "30px"
                          (ratingChanged)="logRatingChange(user.id, $event)">
      </ionic4-star-rating>
</div>

        <ion-icon class="close" name="close" *ngIf="createdBy == this.dataService.getSignInUser().id && !overdue" (click)="presentAlertConfirm(user.name,user.id)"  color="medium"></ion-icon>
    </ion-item>
      </ion-label>

  </ion-list>

  <ion-item class="allLogin" *ngIf="this.usersFromDatabase.length==0 && finishDwonloading">
    <p *ngIf="overdue ">Všetci boli ohodnotení</p>
  </ion-item>

  <p class="rated" *ngIf="this.usersRated.length >0 && overdue">Ohodnotení používatelia</p>
  <ion-list  padding >
<!--    toto bude treba klepnut hore, lebo este pri nehranej aktivite to tu je na 2 veci-->
<!--    <ion-item *ngFor="let user of this.usersRated">-->
        <div *ngFor="let user of this.usersRated">

      <ion-chip (click)="visitProfile(user)">
        <ion-avatar>
          <img *ngIf="user.photoUrl != null" [src]="user.photoUrl" >
          <img *ngIf="user.photoUrl == null" src="assets/icon/avatar.svg" >
        </ion-avatar>
        <ion-label color="light">{{user.name}}</ion-label>
      </ion-chip>

      <ionic4-star-rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#FFD700"
                          defaultColor = "#ccccff"
                          readonly="true"
                          rating="{{user.behavior}}"
                          fontSize = "30px" >

      </ionic4-star-rating>
        </div>
<!--    </ion-item>-->

  </ion-list>
  </div>
</ion-content>

<!--ked doletim z profilu-->
<ion-content *ngIf="profile">
  <div class="wrapper">
  <ion-list>

    <ion-item padding *ngFor="let user of this.friendsFromProfile">
      <ion-chip (click)="visitProfile(user)">
        <ion-avatar>
          <img *ngIf="user.photoUrl != null" [src]="user.photoUrl" >
          <img *ngIf="user.photoUrl == null" src="assets/icon/avatar.svg" >
        </ion-avatar>
        <ion-label color="light">{{user.name}}</ion-label>
      </ion-chip>
<!--      <ion-avatar><img [src]="user.photoUrl"></ion-avatar>-->
      <ion-icon  (click)="deleteFriendFomFriendList(user.id)" color="danger" size="large" class="deletePlayer" name="person"></ion-icon>
      <ion-icon class="deletePlayer minus" color="danger" name="remove"></ion-icon>

    </ion-item>
  </ion-list>
  </div>
</ion-content>
